{% load staticfiles %}
<div class="carousel_display">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div id="Carousel" class="carousel slide">

                    <ol class="carousel-indicators">
                        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel" data-slide-to="1"></li>
                        <li data-target="#Carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">
                          <div class="news_label col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="news_label col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="news_label col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="news_label col-lg-3 col-md-3 col-sm-3 col-xs-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                          <div class="col-md-3"><a href="#" class="">{% include "carousel_link.html" %}</a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                    </div><!--.carousel-inner-->
                      <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                      <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                    </div><!--.Carousel-->
            </div>
        </div>
    </div><!--.container-->
</div>